name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl-version:
          - '5.24'
          - '5.22'
          - '5.20'
          - '5.18'
          - '5.16'
          - '5.14'
          - '5.12'
          - '5.10'
          - '5.8'
    name: Perl ${{ matrix.perl-version }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl-version }}

      - name: Install dependencies
        run: |
          cpanm --notest XML::Twig
          cpanm --notest XML::LibXML
          cpanm --notest --force XML::XML2JSON
          cpanm --notest JSON
          cpanm --notest JSON::Syck
          cpanm --notest SVG
          cpanm --notest Math::CDF
          cpanm --notest Math::Random
          cpanm --notest Archive::Zip

      - name: Build
        run: |
          perl Makefile.PL
          make

      - name: Run tests
        run: make test
